<%= form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, placeholder: 'Write comment' %>
  </div>
  <div class="field">
    <%= f.label :creator %><br />
    <%= f.collection_select :creator_id, User.all, :id, :name, prompt: 'Please select user' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
